html {
  font-size: 14px;
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'avenir next', avenir,
    'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial,
    sans-serif;
}

p {
  margin-top: 0;
}

textarea {
  resize: vertical;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 680px;
}

.mb05 {
  margin-bottom: 0.25rem;
}

.bg-silver {
  background-color: #f7f7f7;
}

.caps {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.border-left {
  border-left-style: dashed;
}

.border-top {
  border-top-style: dashed;
}

.mono {
  font-family: 'Courier Next', courier, monospace;
}
